.Global-Errors-LI {
    color: red;
}

.Global-Errors-UL {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    flex-direction: column;
    list-style: none;
}

.Global-Modal-Image-Container {
    display: flex;
    justify-content: center;
}

#modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 40px;
}

.Global-ModalForm-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.Global-Logo {
    width: 19%;
}

.Global-SubmitButton {
    background-color: rgb(255, 49, 49);
    color: white;
    border-color: transparent;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


.Global-Modal-input {
    padding: 13px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
}

.Global-Modal-Header {
    margin: 0px 0px;
    font-size: 40px;
    margin-bottom: 15px;
}

.Global-Modal-Label {
    width: 100%;
    display: flex;
}

.Login-Demo {
    padding-top: 19px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(255, 49, 49);
}
