.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.rightNav {
  display: flex;
  flex-direction: row;
}

.leftNav {
  display: flex;
  flex-direction: row;
}
