.hidden {
  display: none;
}

.profile-dropdown {
  position: absolute;
  background-color: white;
  top: 45px;
  right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 4px;
  color: grey;
  list-style-type: none;
  border: 1px grey solid;
  padding: 5px 15px;
  z-index: 2;
}

.pfpButton {
  color: grey;
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  align-items: center;
  height: 75px
}

.rightNav {
  display: flex;
  flex-direction: row;
  min-width: 260px;
}

.leftNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.homeNavLink {
  height: 20px;
}

.homeImg {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  height: 50px;
}

.ExploreButton-Holder {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 17px;
}

.CreateButton-Holder {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLinkCreate {
  text-decoration: none;
  font-size: 25px;
  color: rgb(102, 102, 102);
  min-width: 181px;
}

.Login-Signup-Holder {
  flex: display;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}


.login {
  margin-right: 10px;
  color: rgb(102, 102, 102);
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.signup {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: rgb(102, 102, 102);
}

.navLinkExplore {
  text-decoration: none;
  font-size: 25px;
  color: rgb(102, 102, 102);
}

.profileLi {
  padding-top: 10px;
}

.botProfileLi {
  padding-bottom: 10px;
  padding-top: 10px;
}

.profileLogOutButton {
  background-color: rgb(255, 49, 49);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-color: transparent;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  cursor: pointer;
}

.Search-Form-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  width: 100%;
  z-index: 2;
}

.searchButton {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  margin-right: 20px;
  color: rgb(102, 102, 102);
  cursor: pointer;
  z-index: 3;
}

.Search-Input-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.search-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.searchDropDown {
  position: absolute;
  top: 80px;
  background-color: rgb(248, 248, 245);
  border: 1px solid black;
  width: 100%;
}

.Search-Input-Text {
  padding: 13px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 19px;
  box-sizing: border-box;
}

.dropDownNavDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.dropDownImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 15px;
  border-radius: 5px;
}

.dropDownTitle {
  color: black;
  font-size: 19px;
  font-weight: 600;
}
